body{
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

a{
    color: slateblue;
}

nav ul {
    background-color: sandybrown;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    border-color: blanchedalmond;
    padding: 5px;
    margin-top: 10px;
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    color: papayawhip;
    font-size: 1em;
}

nav ul li a {
    text-decoration: none;
    color: olive;
}

img {
    border-width: 2px;
    border-style: solid;
    border-color: blanchedalmond;
    border-radius: 30px;
}

div {
    position: relative;
    padding-bottom: 45%;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    background-color: #fffaf0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
}


th {
    background-color: sandybrown;
    color: white;
    padding: 12px;
    border: 1px solid #f5deb3;
}


td {
    padding: 10px;
    border: 1px solid #f5deb3;
}


tr {
    background-color: palegoldenrod;
}


tr:hover {
    background-color: #ffe4b5;
    transition: 0.3s;
}

iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

video.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: relative;
  color: white;
  text-align: center;
  top: 40%;
  font-size: 2em;
  font-family: sans-serif;
}
